$essential-negative-color: #e91429;

.warningBox {
    background-color: $essential-negative-color;
    display: flex;
    align-items: center;
    padding: 8px;
}

.warningText {
    flex-grow: 1;
    padding-left: 8px;
    font-size: 0.875rem;
}