.timeRemaining {
    width: 125px;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    background-color: #4678C2;
    border-radius: 5px;
    border: 1px solid white;
    padding: 4px 0px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}